
#cuerpo {
  background-color: #fe769c;
  color: white;
}
#eslogan{
  font-family: "BOLD ITALIC 2" ;
  font-size: 200%;
  font-style: italic;
}
#proximamente{
  font-family: ;
  font-size: 125%;
}
