
#cuerpo {
  background-color: #fe769c;
  color: white;
}
#eslogan{
  font-family: 'Bodoni Moda', serif;
  font-size: 250%;
}
#proximamente{
  font-family: 'Bodoni Moda', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
}
